<div fxLayout="column" fxLayoutAlign="center center" flexGap="20">
  <div fxflex="80" style="width: 100%">
    <h4>Create Product</h4>
    <form [formGroup]="productForm" (submit)="onSubmit($event)">
      <!-- <input type="text" name="title" [(ngModel)]="title" />
    <p>Entered Title={{ title }}</p>

    <p *ngIf="!title">Tittle Can't be Empty</p>
    <p *ngIf="title && title.length < 5">
      Tittle Should Contain Atleast 5 Characters
    </p>
    <p *ngIf="title && title.length > 9">
      Tittle Can't be More Than 9 Characters
    </p>

    <p>{{ titleErrors() }}</p> 
     <p>{{ validateTitle }}</p> -->
      <!-- <div>
      <input type="text" formControlName="title" />
    </div>
    <div>Entered Title = {{ productForm.get("title")?.value }}</div>
    <p *ngIf="productForm.get('title')?.errors?.['required']">Title Required</p>
    <p *ngIf="productForm.get('title')?.errors?.['minlength']">
      Title should have more than 5 Characters
    </p>
    <p *ngIf="productForm.get('title')?.errors?.['maxlength']">
      Title should be less than 5 Characters
    </p>

    <div>
      <input type="text" formControlName="price" />
    </div>
    <div>Entered Price = {{ productForm.get("price")?.value }}</div>
    <p *ngIf="productForm.get('price')?.errors?.['required']">Price Required</p>
    <p *ngIf="productForm.get('price')?.errors?.['pattern']">
      Price is Invalid
    </p>
    <button type="submit" [disabled]="productForm.invalid">Submit</button> -->

      <mat-form-field class="example-full-width" fxFlexFill>
        <mat-label>Title</mat-label>
        <input
          type="title"
          matInput
          formControlName="title"
          placeholder="Enter Title"
        />
        <mat-error
          *ngIf="
          productForm.get('title')?.errors?.['required']"
        >
          Title Required
        </mat-error>
        <mat-error
          *ngIf="
          productForm.get('title')?.errors?.['minlength']"
        >
          Titile should be more Than 5 Characters
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" fxFlexFill>
        <mat-label>Description</mat-label>
        <input
          type="text"
          matInput
          formControlName="description"
          placeholder="Enter Title"
        />
        <mat-error
          *ngIf="
          productForm.get('description')?.errors?.['required']"
        >
          Description Required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" fxFlexFill>
        <mat-label>Price</mat-label>
        <input
          type="text"
          appOnlyNumbers
          matInput
          formControlName="price"
          placeholder="Enter price"
        />
        <mat-error
          *ngIf="
          productForm.get('price')?.errors?.['required']"
        >
          Price Required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" fxFlexFill>
        <mat-label>image</mat-label>
        <input
          type="text"
          matInput
          formControlName="image"
          placeholder="Enter image"
        />
        <mat-error
          *ngIf="
          productForm.get('image')?.errors?.['required']"
        >
          Description Required
        </mat-error>
      </mat-form-field>

      <div class="button-style">
        <button
          mat-raised-button
          color="primary"
          style="width: 120px"
          type="submit"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
